/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fbf5f5;
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b1c1d;
    text-decoration: none;
    background-color: #d0d0d0;
    border: 1px solid #ddd;
}

.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b1c1d;
    text-decoration: none;
    background-color: #d0d0d0;
    border: 1px solid #ddd;
}

::placeholder{
    font-style: oblique;
}