.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.container {
    margin-top: 50px
}

img {
    max-width: 250px;
    max-height: 150px;
    /*
    max-width: 100%;
    height: auto */
}

ul {
    list-style-type: none;
    display: block;
}

li {
    display: inline-block;
}

.justify-content-center {
    text-align: center;
}

.portfolio-item {
    border: 1px solid black;
}

.btn-block {
    background-color: #d0cfcf;
    border-radius: 10px;
}

.btn-block:hover {
    background-color: #b3b3b3;
}

.card-text {
    border-style: outset;
}

.card-text:hover {
    background-color: #f1f1f1;
    border-style: ridge;
}

.project-name {
    color: #3b4248;
}

.project-name:hover {
    color: #536564;
}
