<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Project</h2>
        </div>
    </div>

    <div id="members" class="row">
        
        <div class="col-lg-4 col-sm-6 text-center">
            <h3><strong>Project NAME</strong></h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-left">
            <h4 class="link"><strong>DESCRIPTION</strong></h4>
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-left">
            <h4 class="link"><strong>TASKS</strong></h4>
            <div class="important-box">
                <div class="checkbox">
                    <span>To study all new lessonsasdfasdfasdfasdfasdf for school</span>
                    <img class="img-responsive" id="delete-icon" src="https://cdn2.iconfinder.com/data/icons/e-business-helper/240/627249-delete3-512.png">
                    <a routerLink="/edit-task"><img class="img-responsive" id="edit-icon" src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png"></a>
                </div>
            </div>
            <p><a class="btn btn-lg btn-success right" routerLink="/create-task" role="button">ADD NEW TASK</a></p>
        </div>
        <br><br>
    </div>
</div>
<br>