<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Project</h2>
        </div>
    </div>

    <div id="members" class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Group Overview</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-responsive img-rounded img-center" src="http://placehold.it/200x200" alt="">
            <h3><strong>Project NAME</strong></h3>
        </div>
        <div class="col-xs-12 col-md-8 text-left">

        </div>
        <!--<div class="col-lg-4 col-sm-6 text-center">
        </div>-->
        <div class="col-lg-4 col-sm-6 text-left">
            <h4 class="link"><strong>GROUP INFORMATION</strong></h4>
            <p><strong>Child members: </strong> Childrens</p>
            <p><strong>Created by: </strong> Parent Name</p>
            <p><strong>Created At: </strong> DD:MM:SS</p>
            <br>
            <h4 class="link"><strong>OPTIONS</strong></h4>
            <p><a class="btn btn-lg btn-warning" routerLink="#" role="button" (click)="showClass = !showClass">ADD CHILD</a></p>
            <label [ngClass]="{ 'hidden': showClass }">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="childName" placeholder="Child Name">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary submit">SUBMIT</button>
                </div>
            </label>
            <p><a class="btn btn-lg btn-info" routerLink="#" role="button" (click)="showClass1 = !showClass1">ADD GROUP AVATAR</a></p>
            <label [ngClass]="{ 'hidden': showClass1 }">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Avatar" placeholder="Avatar Url">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary submit">SUBMIT</button>
                </div>
            </label>
        </div>
        <div class="col-lg-4 col-sm-6 text-left">
            <h4 class="link"><strong>TODO LIST</strong></h4>
            <div class="important-box">
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="">
                To study all new lessons for school
              </label>
                </div>
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="">
                To do all homework for tomorrow
              </label>
                </div>
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="">
                To go to swimming pool for workout
              </label>
                </div>
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="">
                To clean and organize your bedroom
              </label>
                </div>
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="" >
                To wash the dishes
              </label>
                </div>
                <div class="checkbox">
                    <label>
                <input type="checkbox" value="">
                Go to walk with the dog
              </label>
                </div>
            </div>
            <p><a class="btn btn-lg btn-success right" routerLink="/add-task" role="button">ADD NEW TASK</a></p>
        </div>
        <br><br>
        <!--<div class="row">
            <div class="col-lg-12">
            </div>
        </div>-->
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                <p>Fin more information about the app here: <a href="/about-us" target="_blank">ABOUT THE APP</a></p>
                <p>Video tuttorial: <a href="/how-to-use" target="_blank">HOW TO USE IT</a></p>
            </div>
        </div>
    </div>
</div>
<br>